// COLORS
$primary-color: #76a53f;
$secondary-color: #135c1c;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #333333;

$dark-blue-text: rgb(53, 10, 10); //#272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
